let mapleader=" "
set scrolloff=5

set incsearch

map Q gq

set highlightedyank
set commentary
set ideajoin
set ideastatusicon=gray
set number relativenumber
set notimeout
set clipboard+=unnamed

""""""""""""""""""""""""""""""""""""""Debug"""""""""""""""""
nnoremap <Leader>si :action StepInto<CR>
nnoremap <Leader>so :action StepOver<CR>
nnoremap <Leader>sO :action StepOut<CR>
nnoremap <Leader>sr :action Resume<CR>
nnoremap <Leader>de :action EvaluateExpression<CR>
""""""""""""""""""""""""""""""""""""""Refactor"""""""""""""
nnoremap <Leader>ri :action Inline<CR>
nnoremap <leader>rr :action RenameElement<CR>

""""""""""""""""""""""""""""""""""""""Show""""""""""""""""
nnoremap <Leader>fu :action FindUsages<CR>
nnoremap <Leader>mh :action MethodHierarchy<CR>
nnoremap <Leader>ss :action ShowSettings<CR>
nnoremap <Leader>sp :action ShowFilePath<CR>
nnoremap <Leader>se :action ShowErrorDescription<CR>
nnoremap <Leader>rf :action RecentFiles<CR>
nnoremap <Leader>jd :action QuickJavaDoc<CR>
nnoremap <leader>a :action Annotate<CR>
nnoremap <leader>sn :action ShowNavBar<CR>
nnoremap <Leader>sb :action ViewBreakpoints<CR>
nnoremap <Leader>sf :action SelectInProjectView<CR>

"" My Mappings -----------------------------
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)
nnoremap <Leader>cd :action ChooseDebugConfiguration<CR>
nnoremap <Leader>cr :action ChooseRunConfiguration<CR>

""""""""""""""""""""""""""""""""""""""Search"""""""""""""
nnoremap <Leader>ga :action GotoAction<CR>
nnoremap <Leader>gc :action GotoClass<CR>
nnoremap <Leader>gf :action GotoFile<CR>
nnoremap <Leader>gs :action GotoSymbol<CR>

""""""""""""""""""""""""""""""""""""""Jump""""""""""""""
nnoremap ge :action GotoNextError<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gS :action GotoSuperMethod<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap [[ :action MethodUp<CR>

""""""""""""""""""""""""""""""""""""""Fix""""""""""""""
nnoremap <Leader>fd :action FixDocComment<CR>
nnoremap <Leader>mf :action RenameFile<CR>
nnoremap <Leader>fc :action ReformatCode<CR>
vnoremap <Leader>em :action ExtractMethod<CR>
vnoremap <Leader>ei :action ExtractInterface<CR>
